<div class="jumbotron center">
<h1>Welcome to my first Ruby on Rails application!</h1>
<p>
	<%= link_to "Log in", "#", class: "btn btn-default btn-md" %>
	<%= link_to "Sign up", "#", class: "btn btn-primary btn-md" %>
	</p>
</div>